<div class="col" style="margin-top: 80px; display: grid; place-items:center;">
    <form #miFormulario="ngForm" (ngSubmit)="login(miFormulario)">
  <div class="col-8">
    <div class="card">
      <div class="card-body" style="background-color: cornflowerblue;">
        <div class="mb-3 row">
            <label for="Email" class="col-10 col-form-label" style="font-weight: bold;">Email</label>
            <div class="col-10">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" ngModel>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="card">
      <div class="card-body" style="background-color: cornflowerblue;">
        <div class="mb-3 row">
            <label for="password" class="col-10 col-form-label" style="font-weight: bold;">Password</label>
            <div class="col-10"><!-- eventBinding con ngModel enviamos  -->
                <input type="password" class="form-control" name="password" id="password" placeholder="password" ngModel>
            </div>            
                <div class="offset-sm-4 col-sm-8" style="margin-top: 5px;">
                    <button type="submit" class="btn btn-danger">Entrar</button>
                </div>           
        </div>   
      </div>
    </div>
  </div>  
</form>
</div>