<!-- <div class="container">
    <div class="row">
        <div class="col">
            <div>

                {{indice+1}}: {{empleadoLista.nombre}} {{empleadoLista.apellido}} {{empleadoLista.cargo}}
                {{empleadoLista.salario}}

                <a [routerLink]="['/actualizaEmpleado',indice]" [queryParams]="{accion:'1'}">
                    <button class="btn btn-success btn-sm"
                        style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .3rem; --bs-btn-font-size: .75rem; margin-right: .2rem;">Actualizar</button>
                </a>
                <a [routerLink]="['/actualizaEmpleado',indice]" [queryParams]="{accion:'2'}">
                    <button class="btn btn-danger btn-sm"
                        style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .3rem; --bs-btn-font-size: .75rem;">Eliminar</button>
                </a>


                <ul style="list-style: none;">
                    <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
                </ul>
            </div>
            <div class="container col-md-6">
                <app-caracteristica-empleado
                    (caracteristicaEmpleados)="agregarCaracteristica($event)"></app-caracteristica-empleado>
            </div>
        </div>
    </div>
</div> -->



   <